@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary-font: "Sora", serif;
  --font-secondary-font: "ADLaM Display", serif;
  --color-primary-color: #ffdc26;
  --color-secondary-color: #fff9f4;
  --color-text-color: #111111;
  --color-card-bg: #f9df8a;
}
:root {
  @apply text-text-color;
}

.btn {
  @apply font-normal;
  @apply text-xl;
  @apply px-8;
  @apply rounded-lg;
}
.menu {
  @apply text-xl;
}
.menu a {
  @apply active:text-black;
  @apply active:bg-primary-color;
}
h1,
h2,
h3,
h4 {
  @apply font-secondary-font;
}
h2 {
  @apply text-4xl;
}
.card-body {
  @apply p-4;
}
main section {
  @apply mt-24;
}
.anima {
  animation: bgswap 2s alternate infinite; /* 10s delay before each loop */
}

@keyframes bgswap {
  0% {
    color: #1a1a1a;
  }
  100% {
    color: #b30000;
    text-shadow: 0 0 8px 0 #1c1c1c25;
  }
}
@media screen and (max-width: 460px) {
  #subs {
    margin-top: 200px;
    margin-bottom: 150px;
  }
}
