@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary-font: "Sora", serif;
  --font-secondary-font: "ADLaM Display", serif;
  --color-primary-color: #ffdc26;
  --color-secondary-color: #fff9f4;
  --color-text-color: #111111;
  --color-card-bg: #f9df8a;
}
:root {
  @apply text-text-color;
}

.btn {
  @apply font-normal;
  @apply text-xl;
  @apply px-8;
  @apply rounded-lg;
}
.menu {
  @apply text-xl;
}
.menu a {
  @apply active:text-black;
  @apply active:bg-primary-color;
}
h1,
h2,
h3 {
  @apply font-secondary-font;
}
h2 {
  @apply text-4xl;
}
.card-body {
  @apply p-4;
}
main section {
  @apply mt-24;
}
